[submodule "fingerterm-git"]
	path = fingerterm-git
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/fingerterm-git.git
	branch = master
[submodule "policy-settings-common"]
	path = policy-settings-common
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/policy-settings-common.git
	branch = master
[submodule "ohm-plugins-misc"]
	path = ohm-plugins-misc
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/ohm-plugins-misc.git
	branch = master
[submodule "libdres-ohm"]
	path = libdres-ohm
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/libdres-ohm.git
	branch = master
[submodule "ohm-rule-engine"]
	path = ohm-rule-engine
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/ohm-rule-engine.git
	branch = master
[submodule "ohm"]
	path = ohm
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/ohm.git
	branch = master
[submodule "mce-plugin-libhybris-nondroid-git"]
	path = mce-plugin-libhybris-nondroid-git
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/mce-plugin-libhybris-nondroid-git.git
	branch = master
[submodule "libtrace-ohm"]
	path = libtrace-ohm
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/libtrace-ohm.git
	branch = master
[submodule "libprolog"]
	path = libprolog
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/libprolog.git
	branch = master
[submodule "dsme-git"]
	path = dsme-git
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/dsme-git.git
	branch = master
[submodule "libdsme"]
	path = libdsme
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/libdsme.git
	branch = master
[submodule "pulseaudio-modules-nemo"]
	path = pulseaudio-modules-nemo
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/pulseaudio-modules-nemo.git
	branch = master
[submodule "pulseaudio-module-keepalive"]
	path = pulseaudio-module-keepalive
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/pulseaudio-module-keepalive.git
	branch = master
[submodule "pulsecore-headers"]
	path = pulsecore-headers
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/pulsecore-headers.git
	branch = master
[submodule "usb-tethering"]
	path = usb-tethering
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/usb-tethering.git
	branch = master
[submodule "sailfish-access-control-qt5-git"]
	path = sailfish-access-control-qt5-git
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/sailfish-access-control-qt5-git.git
	branch = master
[submodule "qt5-around-git"]
	path = qt5-around-git
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/qt5-around-git.git
	branch = master
[submodule "qt5-profile-git"]
	path = qt5-profile-git
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/qt5-profile-git.git
	branch = master
[submodule "glacier-dialer-git"]
	path = glacier-dialer-git
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/glacier-dialer-git.git
	branch = master
[submodule "voicecall"]
	path = voicecall
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/voicecall.git
	branch = master
[submodule "glacier-contacts-git"]
	path = glacier-contacts-git
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/glacier-contacts-git.git
	branch = master
[submodule "glacier-messages-git"]
	path = glacier-messages-git
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/glacier-messages-git.git
	branch = master
[submodule "contactsd-git"]
	path = contactsd-git
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/contactsd-git.git
	branch = master
[submodule "mkcal-git"]
	path = mkcal-git
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/mkcal-git.git
	branch = master
[submodule "nemo-qml-plugin-messages-git"]
	path = nemo-qml-plugin-messages-git
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/nemo-qml-plugin-messages-git.git
	branch = master
[submodule "qmf-qt5"]
	path = qmf-qt5
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/qmf-qt5.git
	branch = master
[submodule "commhistory-daemon-git"]
	path = commhistory-daemon-git
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/commhistory-daemon-git.git
	branch = master
[submodule "libcommhistory-git"]
	path = libcommhistory-git
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/libcommhistory-git.git
	branch = master
[submodule "lipstick-glacier-home-git"]
	path = lipstick-glacier-home-git
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/lipstick-glacier-home-git.git
	branch = master
[submodule "nemo-qml-plugin-contacts-git"]
	path = nemo-qml-plugin-contacts-git
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/nemo-qml-plugin-contacts-git.git
	branch = master
[submodule "buteo-sync-plugin-carddav-git"]
	path = buteo-sync-plugin-carddav-git
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/buteo-sync-plugin-carddav-git.git
	branch = master
[submodule "buteo-syncfw"]
	path = buteo-syncfw
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/buteo-syncfw.git
	branch = master
[submodule "glacier-settings-git"]
	path = glacier-settings-git
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/glacier-settings-git.git
	branch = master
[submodule "nemo-qml-plugin-connectivity-git"]
	path = nemo-qml-plugin-connectivity-git
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/nemo-qml-plugin-connectivity-git.git
	branch = master
[submodule "qt5-lipstick-git"]
	path = qt5-lipstick-git
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/qt5-lipstick-git.git
	branch = master
[submodule "mapplauncherd-qt-git"]
	path = mapplauncherd-qt-git
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/mapplauncherd-qt-git.git
	branch = master
[submodule "mapplauncherd-git"]
	path = mapplauncherd-git
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/mapplauncherd-git.git
	branch = master
[submodule "nemo-qml-plugin-systemsettings-git"]
	path = nemo-qml-plugin-systemsettings-git
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/nemo-qml-plugin-systemsettings-git.git
	branch = master
[submodule "libsailfishkeyprovider-git"]
	path = libsailfishkeyprovider-git
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/libsailfishkeyprovider-git.git
	branch = master
[submodule "profiled-git"]
	path = profiled-git
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/profiled-git.git
	branch = master
[submodule "sailfish-user-managerd-git"]
	path = sailfish-user-managerd-git
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/sailfish-user-managerd-git.git
	branch = master
[submodule "libuser"]
	path = libuser
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/libuser.git
	branch = master
[submodule "nemo-qml-plugin-models-git"]
	path = nemo-qml-plugin-models-git
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/nemo-qml-plugin-models-git.git
	branch = master
[submodule "qt5-usb-moded-git"]
	path = qt5-usb-moded-git
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/qt5-usb-moded-git.git
	branch = master
[submodule "qt5-ngfd-git"]
	path = qt5-ngfd-git
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/qt5-ngfd-git.git
	branch = master
[submodule "nemo-qml-plugin-contentaction-git"]
	path = nemo-qml-plugin-contentaction-git
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/nemo-qml-plugin-contentaction-git.git
	branch = master
[submodule "qt5-connman-git"]
	path = qt5-connman-git
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/qt5-connman-git.git
	branch = master
[submodule "qt5-ofono-nemo-extensions-git"]
	path = qt5-ofono-nemo-extensions-git
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/qt5-ofono-nemo-extensions-git.git
	branch = master
[submodule "glacier-pinquery-git"]
	path = glacier-pinquery-git
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/glacier-pinquery-git.git
	branch = master
[submodule "libqofono-qt5"]
	path = libqofono-qt5
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/libqofono-qt5.git
	branch = master
[submodule "nemo-qml-plugin-notifications-git"]
	path = nemo-qml-plugin-notifications-git
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/nemo-qml-plugin-notifications-git.git
	branch = master
[submodule "qt5-contacts-sqlite-extensions-git"]
	path = qt5-contacts-sqlite-extensions-git
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/qt5-contacts-sqlite-extensions-git.git
	branch = master
[submodule "qt5-mce-git"]
	path = qt5-mce-git
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/qt5-mce-git.git
	branch = master
[submodule "sensorfw-git"]
	path = sensorfw-git
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/sensorfw-git.git
	branch = master
[submodule "mce-git"]
	path = mce-git
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/mce-git.git
	branch = master
[submodule "usb-moded-git"]
	path = usb-moded-git
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/usb-moded-git.git
	branch = master
[submodule "libngf-git"]
	path = libngf-git
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/libngf-git.git
	branch = master
[submodule "qt5-mlocale-git"]
	path = qt5-mlocale-git
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/qt5-mlocale-git.git
	branch = master
[submodule "qt5-pim-git"]
	path = qt5-pim-git
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/qt5-pim-git.git
	branch = master
[submodule "nemo-qml-plugin-time-git"]
	path = nemo-qml-plugin-time-git
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/nemo-qml-plugin-time-git.git
	branch = master
[submodule "qt5-timed-git"]
	path = qt5-timed-git
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/qt5-timed-git.git
	branch = master
[submodule "sailfish-access-control-git"]
	path = sailfish-access-control-git
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/sailfish-access-control-git.git
	branch = master
[submodule "qt5-iodata-git"]
	path = qt5-iodata-git
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/qt5-iodata-git.git
	branch = master
[submodule "nemo-qml-plugin-statusnotifier-git"]
	path = nemo-qml-plugin-statusnotifier-git
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/nemo-qml-plugin-statusnotifier-git.git
	branch = master
[submodule "nemo-qml-plugin-configuration-git"]
	path = nemo-qml-plugin-configuration-git
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/nemo-qml-plugin-configuration-git.git
	branch = master
[submodule "qt5-mlite-git"]
	path = qt5-mlite-git
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/qt5-mlite-git.git
	branch = master
[submodule "nemo-qml-plugin-devicelock-git"]
	path = nemo-qml-plugin-devicelock-git
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/nemo-qml-plugin-devicelock-git.git
	branch = master
[submodule "ssu-sysinfo-git"]
	path = ssu-sysinfo-git
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/ssu-sysinfo-git.git
	branch = master
[submodule "nemo-keepalive-git"]
	path = nemo-keepalive-git
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/nemo-keepalive-git.git
	branch = master
[submodule "libiphb-git"]
	path = libiphb-git
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/libiphb-git.git
	branch = master
[submodule "mce-headers-git"]
	path = mce-headers-git
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/mce-headers-git.git
	branch = master
[submodule "glacier-music-git"]
	path = glacier-music-git
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/glacier-music-git.git
	branch = master
[submodule "qt5-mpris-git"]
	path = qt5-mpris-git
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/qt5-mpris-git.git
	branch = master
[submodule "qt5-dbus-extended-git"]
	path = qt5-dbus-extended-git
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/qt5-dbus-extended-git.git
	branch = master
[submodule "glacier-gallery-git"]
	path = glacier-gallery-git
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/glacier-gallery-git.git
	branch = master
[submodule "qtdocgallery-git"]
	path = qtdocgallery-git
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/qtdocgallery-git.git
	branch = master
[submodule "nemo-qml-plugin-thumbnailer-git"]
	path = nemo-qml-plugin-thumbnailer-git
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/nemo-qml-plugin-thumbnailer-git.git
	branch = master
[submodule "qt5-resource-git"]
	path = qt5-resource-git
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/qt5-resource-git.git
	branch = master
[submodule "meego-resource-git"]
	path = meego-resource-git
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/meego-resource-git.git
	branch = master
[submodule "glacier-filemuncher-git"]
	path = glacier-filemuncher-git
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/glacier-filemuncher-git.git
	branch = master
[submodule "nemo-qml-plugin-folderlistmodel-git"]
	path = nemo-qml-plugin-folderlistmodel-git
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/nemo-qml-plugin-folderlistmodel-git.git
	branch = master
[submodule "glacier-camera-git"]
	path = glacier-camera-git
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/glacier-camera-git.git
	branch = master
[submodule "nemo-qml-plugin-sortfiltermodel-git"]
	path = nemo-qml-plugin-sortfiltermodel-git
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/nemo-qml-plugin-sortfiltermodel-git.git
	branch = master
[submodule "nemo-qml-plugin-settings-git"]
	path = nemo-qml-plugin-settings-git
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/nemo-qml-plugin-settings-git.git
	branch = master
[submodule "glacier-calc-git"]
	path = glacier-calc-git
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/glacier-calc-git.git
	branch = master
[submodule "qt5-glacier-app-git"]
	path = qt5-glacier-app-git
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/qt5-glacier-app-git.git
	branch = master
[submodule "qt5-quickcontrols-nemo-git"]
	path = qt5-quickcontrols-nemo-git
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/qt5-quickcontrols-nemo-git.git
	branch = master
[submodule "nemo-theme-glacier-git"]
	path = nemo-theme-glacier-git
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/nemo-theme-glacier-git.git
	branch = master
[submodule "google-opensans-fonts"]
	path = google-opensans-fonts
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/google-opensans-fonts.git
	branch = master
[submodule "cor-git"]
	path = cor-git
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/cor-git.git
	branch = master
[submodule "tut-git"]
	path = tut-git
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/tut-git.git
	branch = master
[submodule "glacier-wayland-session"]
	path = glacier-wayland-session
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/glacier-wayland-session.git
	branch = master
[submodule "glacier-browser"]
	path = glacier-browser
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/glacier-browser.git
	branch = master
[submodule "maliit-nemo-keyboard-git"]
	path = maliit-nemo-keyboard-git
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/maliit-nemo-keyboard-git.git
	branch = master
[submodule "mapplauncherd-booster-qtcomponents-git"]
	path = mapplauncherd-booster-qtcomponents-git
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/mapplauncherd-booster-qtcomponents-git.git
	branch = master
[submodule "hybris/android-headers"]
	path = hybris/android-headers
	url = https://gitlab.manjaro.org/manjaro-arm/packages/community/nemo-ux/android-headers
	branch = master
[submodule "hybris/qt5-qpa-hwcomposer-plugin"]
	path = hybris/qt5-qpa-hwcomposer-plugin
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/qt5-qpa-hwcomposer-plugin.git
	branch = master
[submodule "devices/nemo-device-pinephone"]
	path = devices/nemo-device-pinephone
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/nemo-device-pinephone.git
	branch = master
