[submodule "policy-settings-common"]
	path = policy-settings-common
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/policy-settings-common.git
	branch = master
[submodule "ohm-plugins-misc"]
	path = ohm-plugins-misc
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/ohm-plugins-misc.git
	branch = master
[submodule "libdres-ohm"]
	path = libdres-ohm
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/libdres-ohm.git
	branch = master
[submodule "ohm-rule-engine"]
	path = ohm-rule-engine
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/ohm-rule-engine.git
	branch = master
[submodule "ohm"]
	path = ohm
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/ohm.git
	branch = master
[submodule "libtrace-ohm"]
	path = libtrace-ohm
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/libtrace-ohm.git
	branch = master
[submodule "libprolog"]
	path = libprolog
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/libprolog.git
	branch = master
[submodule "libdsme"]
	path = libdsme
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/libdsme.git
	branch = master
[submodule "pulseaudio-modules-nemo"]
	path = pulseaudio-modules-nemo
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/pulseaudio-modules-nemo.git
	branch = master
[submodule "pulseaudio-module-keepalive"]
	path = pulseaudio-module-keepalive
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/pulseaudio-module-keepalive.git
	branch = master
[submodule "pulsecore-headers"]
	path = pulsecore-headers
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/pulsecore-headers.git
	branch = master
[submodule "usb-tethering"]
	path = usb-tethering
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/usb-tethering.git
	branch = master
[submodule "voicecall"]
	path = voicecall
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/voicecall.git
	branch = master
[submodule "qmf-qt5"]
	path = qmf-qt5
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/qmf-qt5.git
	branch = master
[submodule "buteo-syncfw"]
	path = buteo-syncfw
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/buteo-syncfw.git
	branch = master
[submodule "libsailfishkeyprovider-git"]
	path = libsailfishkeyprovider-git
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/libsailfishkeyprovider-git.git
	branch = master
[submodule "libqofono-qt5"]
	path = libqofono-qt5
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/libqofono-qt5.git
	branch = master
[submodule "qt5-dbus-extended-git"]
	path = qt5-dbus-extended-git
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/qt5-dbus-extended-git.git
	branch = master
[submodule "google-opensans-fonts"]
	path = google-opensans-fonts
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/google-opensans-fonts.git
	branch = master
[submodule "glacier-wayland-session"]
	path = glacier-wayland-session
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/glacier-wayland-session.git
	branch = master
[submodule "hybris/android-headers"]
	path = hybris/android-headers
	url = https://gitlab.manjaro.org/manjaro-arm/packages/community/nemo-ux/android-headers
	branch = master
[submodule "hybris/qt5-qpa-hwcomposer-plugin"]
	path = hybris/qt5-qpa-hwcomposer-plugin
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/qt5-qpa-hwcomposer-plugin.git
	branch = master
[submodule "devices/nemo-device-pinephone"]
	path = devices/nemo-device-pinephone
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/nemo-device-pinephone.git
	branch = master
[submodule "nemo-qml-plugin-models"]
	path = nemo-qml-plugin-models
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/nemo-qml-plugin-models-git.git
	branch = master
[submodule "pulseaudio-policy-enforcement"]
	path = pulseaudio-policy-enforcement
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/pulseaudio-policy-enforcement.git
	branch = master
[submodule "qt5-sensors-sensorfw"]
	path = qt5-sensors-sensorfw
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/qt5-sensors-sensorfw.git
	branch = master
[submodule "swi-prolog7"]
	path = swi-prolog7
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/swi-prolog7.git
	branch = master
[submodule "hybris/libhybris"]
	path = hybris/libhybris
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/libhybris.git
	branch = master
[submodule "bootsplash-theme-nemo"]
	path = bootsplash-theme-nemo
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/bootsplash-theme-nemo.git
	branch = master
[submodule "buteo-sync-plugins-social"]
	path = buteo-sync-plugins-social
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/buteo-sync-plugins-social.git
	branch = master
[submodule "glacier-devicelock-plugin"]
	path = glacier-devicelock-plugin
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/glacier-devicelock-plugin.git
	branch = master
[submodule "glacier-polkit-agent"]
	path = glacier-polkit-agent
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/glacier-polkit-agent.git
	branch = master
[submodule "gpxpy-git"]
	path = gpxpy-git
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/gpxpy-git.git
	branch = master
[submodule "libsocialcache"]
	path = libsocialcache
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/libsocialcache.git
	branch = master
[submodule "mapbox-gl-native-git"]
	path = mapbox-gl-native-git
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/mapbox-gl-native-git.git
	branch = master
[submodule "mapbox-gl-qml-git"]
	path = mapbox-gl-qml-git
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/mapbox-gl-qml-git.git
	branch = master
[submodule "ngfd-plugin-native-vibrator"]
	path = ngfd-plugin-native-vibrator
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/ngfd-plugin-native-vibrator.git
	branch = master
[submodule "ngfd-settings-nemo"]
	path = ngfd-settings-nemo
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/ngfd-settings-nemo.git
	branch = master
[submodule "python-otherside"]
	path = python-otherside
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/python-otherside.git
	branch = master
[submodule "qt5-feedback-haptics-native-vibrator"]
	path = qt5-feedback-haptics-native-vibrator
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/qt5-feedback-haptics-native-vibrator.git
	branch = master
[submodule "s2geometry-git"]
	path = s2geometry-git
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/s2geometry-git.git
	branch = master
[submodule "devices/nemo-device-pinetab"]
	path = devices/nemo-device-pinetab
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/nemo-device-pinetab.git
	branch = master
[submodule "pure-maps-git"]
	path = pure-maps-git
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/pure-maps-git.git
	branch = master
[submodule "qt5-systems"]
	path = qt5-systems
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/qt5-systems.git
	branch = master
[submodule "geoclue1"]
	path = geoclue1
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/geoclue1.git
	branch = master
[submodule "libconnman-qt"]
	path = libconnman-qt
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/libconnman-qt.git
	branch = master
[submodule "libiodata"]
	path = libiodata
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/libiodata.git
	branch = master
[submodule "libmce-qt"]
	path = libmce-qt
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/libmce-qt.git
	branch = master
[submodule "libmlocale"]
	path = libmlocale
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/libmlocale.git
	branch = master
[submodule "libngf-qt"]
	path = libngf-qt
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/libngf-qt.git
	branch = master
[submodule "libprofile-qt"]
	path = libprofile-qt
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/libprofile-qt.git
	branch = master
[submodule "libqofonoext"]
	path = libqofonoext
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/libqofonoext.git
	branch = master
[submodule "libresource"]
	path = libresource
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/libresource.git
	branch = master
[submodule "libresourceqt"]
	path = libresourceqt
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/libresourceqt.git
	branch = master
[submodule "libusb-moded-qt"]
	path = libusb-moded-qt
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/libusb-moded-qt.git
	branch = master
[submodule "nemo-qml-plugin-calendar"]
	path = nemo-qml-plugin-calendar
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/nemo-qml-plugin-calendar.git
	branch = master
[submodule "qtcontacts-sqlite"]
	path = qtcontacts-sqlite
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/qtcontacts-sqlite.git
	branch = master
[submodule "qtmpris"]
	path = qtmpris
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/qtmpris.git
	branch = master
[submodule "abseil-cpp"]
	path = abseil-cpp
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/abseil-cpp.git
	branch = master
[submodule "buteo-sync-plugin-carddav"]
	path = buteo-sync-plugin-carddav
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/buteo-sync-plugin-carddav.git
	branch = master
[submodule "commhistory-daemon"]
	path = commhistory-daemon
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/commhistory-daemon.git
	branch = master
[submodule "contactsd"]
	path = contactsd
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/contactsd.git
	branch = master
[submodule "dsme"]
	path = dsme
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/dsme.git
	branch = master
[submodule "fingerterm"]
	path = fingerterm
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/fingerterm.git
	branch = master
[submodule "glacier-browser"]
	path = glacier-browser
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/glacier-browser.git
	branch = master
[submodule "glacier-settings"]
	path = glacier-settings
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/glacier-settings.git
	branch = master
[submodule "glacier-testtool"]
	path = glacier-testtool
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/glacier-testtool.git
	branch = master
[submodule "libcommhistory"]
	path = libcommhistory
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/libcommhistory.git
	branch = master
[submodule "libiphb"]
	path = libiphb
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/libiphb.git
	branch = master
[submodule "libngf"]
	path = libngf
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/libngf.git
	branch = master
[submodule "lipstick-glacier-home"]
	path = lipstick-glacier-home
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/lipstick-glacier-home.git
	branch = master
[submodule "maliit-nemo-keyboard"]
	path = maliit-nemo-keyboard
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/maliit-nemo-keyboard.git
	branch = master
[submodule "mce"]
	path = mce
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/mce.git
	branch = master
[submodule "mce-headers"]
	path = mce-headers
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/mce-headers.git
	branch = master
[submodule "mce-plugin-libhybris-nondroid"]
	path = mce-plugin-libhybris-nondroid
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/mce-plugin-libhybris-nondroid.git
	branch = master
[submodule "mkcal"]
	path = mkcal
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/mkcal.git
	branch = master
[submodule "nemo-keepalive"]
	path = nemo-keepalive
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/nemo-keepalive.git
	branch = master
[submodule "nemo-qml-plugin-accounts"]
	path = nemo-qml-plugin-accounts
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/nemo-qml-plugin-accounts.git
	branch = master
[submodule "nemo-qml-plugin-configuration"]
	path = nemo-qml-plugin-configuration
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/nemo-qml-plugin-configuration.git
	branch = master
[submodule "nemo-qml-plugin-connectivity"]
	path = nemo-qml-plugin-connectivity
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/nemo-qml-plugin-connectivity.git
	branch = master
[submodule "nemo-qml-plugin-contacts"]
	path = nemo-qml-plugin-contacts
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/nemo-qml-plugin-contacts.git
	branch = master
[submodule "nemo-qml-plugin-devicelock"]
	path = nemo-qml-plugin-devicelock
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/nemo-qml-plugin-devicelock.git
	branch = master
[submodule "nemo-qml-plugin-email"]
	path = nemo-qml-plugin-email
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/nemo-qml-plugin-email.git
	branch = master
[submodule "nemo-qml-plugin-folderlistmodel"]
	path = nemo-qml-plugin-folderlistmodel
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/nemo-qml-plugin-folderlistmodel.git
	branch = master
[submodule "nemo-qml-plugin-messages"]
	path = nemo-qml-plugin-messages
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/nemo-qml-plugin-messages.git
	branch = master
[submodule "nemo-qml-plugin-notifications"]
	path = nemo-qml-plugin-notifications
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/nemo-qml-plugin-notifications.git
	branch = master
[submodule "nemo-qml-plugin-settings"]
	path = nemo-qml-plugin-settings
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/nemo-qml-plugin-settings.git
	branch = master
[submodule "nemo-qml-plugin-signon"]
	path = nemo-qml-plugin-signon
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/nemo-qml-plugin-signon.git
	branch = master
[submodule "nemo-qml-plugin-statusnotifier"]
	path = nemo-qml-plugin-statusnotifier
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/nemo-qml-plugin-statusnotifier.git
	branch = master
[submodule "nemo-qml-plugin-systemsettings"]
	path = nemo-qml-plugin-systemsettings
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/nemo-qml-plugin-systemsettings.git
	branch = master
[submodule "nemo-qml-plugin-thumbnailer"]
	path = nemo-qml-plugin-thumbnailer
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/nemo-qml-plugin-thumbnailer.git
	branch = master
[submodule "nemo-qml-plugin-time"]
	path = nemo-qml-plugin-time
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/nemo-qml-plugin-time.git
	branch = master
[submodule "nemo-theme-glacier"]
	path = nemo-theme-glacier
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/nemo-theme-glacier.git
	branch = master
[submodule "ngfd"]
	path = ngfd
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/ngfd.git
	branch = master
[submodule "profiled"]
	path = profiled
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/profiled.git
	branch = master
[submodule "profiled-settings-nemo"]
	path = profiled-settings-nemo
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/profiled-settings-nemo.git
	branch = master
[submodule "qt5-glacier-app"]
	path = qt5-glacier-app
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/qt5-glacier-app.git
	branch = master
[submodule "qt5-lipstick"]
	path = qt5-lipstick
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/qt5-lipstick.git
	branch = master
[submodule "qt5-pim"]
	path = qt5-pim
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/qt5-pim.git
	branch = master
[submodule "qt5-quickcontrols-nemo"]
	path = qt5-quickcontrols-nemo
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/qt5-quickcontrols-nemo.git
	branch = master
[submodule "qtdocgallery"]
	path = qtdocgallery
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/qtdocgallery.git
	branch = master
[submodule "qt-mobility-haptics-ffmemless"]
	path = qt-mobility-haptics-ffmemless
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/qt-mobility-haptics-ffmemless.git
	branch = master
[submodule "sensorfw"]
	path = sensorfw
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/sensorfw.git
	branch = master
[submodule "usb-moded"]
	path = usb-moded
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/usb-moded.git
	branch = master
[submodule "tzdata-timed"]
	path = tzdata-timed
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/tzdata-timed.git
	branch = master
[submodule "sailfish-access-control"]
	path = sailfish-access-control
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/sailfish-access-control.git
	branch = master
[submodule "buteo-mtp"]
	path = buteo-mtp
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/buteo-mtp.git
	branch = master
[submodule "glacier-alarmclock"]
	path = glacier-alarmclock
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/glacier-alarmclock.git
	branch = master
[submodule "glacier-alarm-listener"]
	path = glacier-alarm-listener
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/glacier-alarm-listener.git
	branch = master
[submodule "glacier-calendar"]
	path = glacier-calendar
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/glacier-calendar.git
	branch = master
[submodule "nemo-qml-plugin-alarms"]
	path = nemo-qml-plugin-alarms
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/nemo-qml-plugin-alarms.git
	branch = master
[submodule "timed"]
	path = timed
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/timed.git
	branch = master
[submodule "glacier-contacts"]
	path = glacier-contacts
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/glacier-contacts.git
	branch = master
[submodule "glacier-dialer"]
	path = glacier-dialer
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/glacier-dialer.git
	branch = master
[submodule "glacier-filemuncher"]
	path = glacier-filemuncher
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/glacier-filemuncher.git
	branch = master
[submodule "glacier-gallery"]
	path = glacier-gallery
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/glacier-gallery.git
	branch = master
[submodule "glacier-mail"]
	path = glacier-mail
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/glacier-mail.git
	branch = master
[submodule "glacier-messages"]
	path = glacier-messages
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/glacier-messages.git
	branch = master
[submodule "glacier-packagemanager"]
	path = glacier-packagemanager
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/glacier-packagemanager.git
	branch = master
[submodule "glacier-weather"]
	path = glacier-weather
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/glacier-weather.git
	branch = master
[submodule "qt5-quickcontrols-nemo-examples"]
	path = qt5-quickcontrols-nemo-examples
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/qt5-quickcontrols-nemo-examples.git
	branch = master
[submodule "nemo-theme-openmoko"]
	path = nemo-theme-openmoko
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/nemo-theme-openmoko.git
	branch = master
[submodule "glacier-calc"]
	path = glacier-calc
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/glacier-calc.git
	branch = master
[submodule "glacier-camera"]
	path = glacier-camera
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/glacier-camera.git
	branch = master
[submodule "glacier-music"]
	path = glacier-music
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/glacier-music.git
	branch = master
[submodule "glacier-pinquery"]
	path = glacier-pinquery
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/glacier-pinquery.git
	branch = master
[submodule "glacier-settings-developermode"]
	path = glacier-settings-developermode
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/glacier-settings-developermode.git
	branch = master
[submodule "nemo-qml-plugin-dbus"]
	path = nemo-qml-plugin-dbus
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/nemo-qml-plugin-dbus.git
	branch = master
[submodule "mlite"]
	path = mlite
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/mlite.git
	branch = master
[submodule "systemctl-user"]
	path = systemctl-user
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/systemctl-user.git
	branch = master
[submodule "telepathy-ring"]
	path = telepathy-ring
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/telepathy-ring.git
	branch = master
[submodule "libphonenumber-nemo"]
	path = libphonenumber-nemo
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/libphonenumber-nemo.git
	branch = master
[submodule "libdbusaccess"]
	path = libdbusaccess
	url = ssh://git@gitlab.manjaro.org:22277/manjaro-arm/packages/community/nemo-ux/libdbusaccess.git
	branch = master
